{{#if flashSuccess}}
  <div class="alert alert-primary">
    {{flashSuccess}}
  </div>
{{/if}}
{{#if flashErr}}
  <div class="alert alert-danger">
    {{flashErr}}
  </div>
{{/if}}

{{#if flashSuc}}
  <div class="alert alert-primary">
    {{flashSuc}}
  </div>
{{/if}}